body {
    margin: 0;
    background-color: darkslategray;
    background-image: url("images/HOguera.jpg");
    background-repeat: no-repeat;
    background-size: 1380px, 1024px;
    background-position: center, center;
  }
  
  #my-canvas {
    background-color: darkslategray;
  }
  
  #start-btn, #restart-btn {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  #my-canvas, #gameover-screen {
    display: none;
  }
  